@import "tailwindcss";
/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width of vertical scrollbar */
    height: 8px; /* Height of horizontal scrollbar */
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    /* margin: 10px 0px 10px; */
    background: #f1de62; /* Light gray background */
    border-radius: 10px;
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #d97706; /* Darker gray */
    border-radius: 10px;
  }
  
  /* Scrollbar Handle on Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Even darker */
  }
  